@import url('https://fonts.googleapis.com/css2?family=Tienne:wght@400;700;900&display=swap&family=Lato&family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tienne:wght@400;700;900&display=swap');


* {
    /* background-color: #F9F0D9; */
    background-color: #FFFAED;    
    color:#262828;
}

.active {
    color: #EEB533 !important;
    font-weight: 700;
}

/* LOGO */
.logo-image {
    height: 85px;
  }

h1,
h2, .section {
    padding: 10px;
    margin: 0;
    background-color: #3D946E;
}

h3 {
    text-align: center;
}

/* Navbar styles */
.navbar {
    border: 3px solid #EEB533;
}

.navbar-toggler-icon {
    background-color: white;
    /* Example color for the toggler icon */
}

.goals-box {
    padding: 15px;
    border-radius: 4px;
    border: 3px solid #3D946E;
    background-color: #B8F3D9;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*expense section*/
#expense-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}

#cost-value-input{
    display: block;
    margin: 0 auto;/* This will center the element horizontally */
    text-align: center;
}

.expense-buttons h3 {
    margin-bottom: 10px;
}
/*goals section*/
#goals-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100;
}

/*goals text for empty goals container*/
#goals-container p{
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 3em;
    background: #EEB533;
}
/*display budget input*/
#update-budget-container{

    border: 1px solid black;
    display: flex;
    flex-direction: column;
    
}
/* Allow buttons to wrap into multiple rows */
.expense-buttons {
  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#basic-needs-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#luxury-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#basic-needs-buttons button {
    width: 30%; 
    padding: 20px; 
    font-size: 0.8rem; 
    margin-bottom: 10px; 
}
/* #luxury-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} */

/* #luxury-buttons button {
    width: 32%; 
    padding: 20px; 
    font-size: 0.7rem; 
    margin-bottom: 10px; 
} */





/* Footer styles */
footer {
    color: black;
    /* Example text color */
    padding: 20px;
    text-align: center;
}

/* Social media links styles */
.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-links a {
    color: #3D946E;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    /* Adjust the font size as needed */
}

.social-links a:hover {
    color: #EEB533;
}


/* Additional styles for the footer paragraph */
footer p {
    margin-top: 10px;

    font-size: 14px;

}

.foot-link {
    color: #3D946E;
}

.foot-link:hover {
    text-decoration: none;
    font-weight: 700;
    color: #EEB533;
}


/* TESTING CSS */

h3, .card td {
    background-color: #B8F3D9;
}


.card-container {
    display: flex;
    justify-content: center;
}

.card {
    padding: 10px;
    margin: 15px 0 15px 0;
    border: 3px solid #3D946E !important;
    border-radius: 6px !important;
    overflow: hidden;
    background-color: #B8F3D9 !important;
    box-shadow: 4px 4px 8px 0 rgba(38, 40, 40, 0.7);

}

.card table {
    width: 100%;
    border-collapse: collapse;
}

.card td {
    padding: 6px;
    text-align: center;
}

.card button {
    width: 100%;
    margin: 5px 0;
    box-shadow: 4px 4px 10px 0 rgba(38, 40, 40, 0.7);
    border-radius: 15px;
    padding: 6px;
}

.button-text {
    font-family: 'Lato', sans-serif;
}

.input-type {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}

input {
    padding: 5px;
    border-radius: 3px;
    border: 3px solid #EEB533;
    width: 300px;
}
#update-budget-button{
    width: 100%;
}

#main-input-value {
    width: 300px;
    text-align: center;
}

/*styles top regulate color displayed budget*/
/* Add this style to your CSS file */
.positive-budget {
    color: #3D946E;
}

.negative-budget {
    color: red;
}

/*animation for cost?budget number styles*/
#input-animation-value-display {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translateY(-50%);
    margin-right: 20px;
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/*animations for expanse and budget inputs*/
.fadeout-animation {
    animation: fadeOut 1s ease-in-out forwards;
}
/*calendar styles*/
.calendar-container {
    position: relative;
    z-index: 5;
    
  }


  #calendar {
    position: absolute;
    top: 35px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }

  #calendar-checkbox {
    display: none;
  }

  #calendar-icon {
    cursor: pointer;
  }

 
  #year-select,
  #month-select {
    margin-bottom: 10px;
  }
  
  .calendar-row {
    display: flex;
  }
  
  .calendar-cell {
    flex: 1;
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
  }
  
  .empty-cell {
    background-color: #eee;
  }
/*calendar data button*/
#close-data-for-date-button{
    display: none;
}
@keyframes fadeOut {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-200%); }
}

/* SCROLL TO TOP BUTTON */
.scroll-top {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 0px;
    z-index: 999;
    background-color: transparent;

}

#scroll-button {
    border: 4px solid #EEB533;
    border-radius: 50%;
    margin-right: 15px;
    width: 45px;
    height: 45px;  
}

#scroll-button:hover {
    background-color: #B8F3D9;
    border: 4px solid #262828;
}

.arrow {
    font-size: 20px;
    background-color: transparent;
}


/* JUMP TO SPECIFIC SECTION */
a#aboutSection, a#contactSection {
    color: #212529;
}
/* .section {
    height: 500px;
    margin-top: 20px;
    padding: 20px;
} */

